


.container {
  margin: 15px;
  text-align: center;
}

.card {
  margin: 10px;
  border-color: white !important;
}

h1, h2 {
  margin: 5px;
}



li {
  padding: 15px;
  margin: 15px;
  background: #cf990556;
  border-radius: 8px;
  font-size: 26px;
  font-weight: bolder;
}

button {
  font-size: 14px !important;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
