<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevourd="{{devoured}}">
		{{#if devoured}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">I DON'T WANT THIS BURGER ANYMORE!</button>
</li>
